*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
}

#code-form{
    display: flex;
    flex-direction: column;
    width: 35%;
    border-right: 2px;
}

.preview
{
    width: 65%;
}

.preview iframe{
    width: 100%;
    height: 100%;
    border: none;
}

#code-form textarea
{
    outline: none;
    resize: none;
    width: 100%;
    height: 100%;
    font-size: 20px;
}

